<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardDetail</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <!--    <script src="/js/jquery.js"></script>-->
</head>
<body>
<div class="container">
    <table class="table table-hover table-striped">
        <tr>
            <th>번호</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${board.boardWriter}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td th:text="${board.boardPass}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${board.boardContents}"></td>
        </tr>
        <tr>
            <th>조회수</th>
            <td th:text="${board.boardHits}"></td>
        </tr>
        <tr>
            <th>작성시간</th>
            <td th:text="${board.boardCreatedTime}"></td>
        </tr>
        <tr>
            <th>파일유무(있음=1, 없음=0)</th>
            <td th:text="${board.fileAttached}"></td>
        </tr>
        <tr th:if="${board.fileAttached == 1}">
            <th>image</th>
            <!--         WebConfig 설정 클래스 생성하여 정리해줘야 함       -->
            <!--            <td><img th:src="@{|/upload/${board.storedFileName}}" alt=""> </td>-->
            <td th:each="fileName: ${board.storedFileName}">
                <img th:src="@{|/upload/${fileName}}" alt="" width="300" height="300">
            </td>
        </tr>

    </table>
    <a href="/" class="btn btn-primary">홈이동</a>
    <button class="btn btn-primary" th:onclick="listReq()">목록</button>
    <button class="btn btn-primary" th:onclick="pagingReq()">페이징목록</button>
    <button class="btn btn-primary" th:onclick="updateReq()">수정(화면요청)</button>
    <button class="btn btn-primary" th:onclick="deleteReq()">삭제(axios/delete)</button>
    <button class="btn btn-primary" th:id="deleteBt" th:onclick="deleteFn()">삭제(get)</button>

    <button class="btn btn-warning" onclick="req('update')">수정</button>
    <button class="btn btn-danger" onclick="req('delete')">삭제</button>
</div>
<div id="pass-check" class="container">
</div>

<div class="container mt-5" id="comment-write">
    <div class="input-group-sm mb-3">
        <div class="form-floating">     <!-- input 안으로 label이 들어감(클릭시 글자 움직임)-->
            <input type="text" id="commentWriter" placeholder="작성자" class="form-control">
            <label for="commentWriter">작성자</label>
        </div>
        <div class="form-floating">
            <input type="text" id="commentContents" placeholder="내용" class="form-control">
            <label for="commentContents">내용</label>
        </div>
        <button id="comment-write-btn" class="btn btn-secondary" onclick="commentWrite()">댓글작성</button>
    </div>
</div>
<div class="container mt-5" id="comment-list">
    <div th:if="${commentList == 'empty'}">
        <p>작성된 댓글이 없습니다.</p>
    </div>
    <div th:unless="${commentList == 'empty'}">
        <table class="table">
            <tr>
                <th>댓글번호</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성시간</th>
            </tr>
            <tr th:each="comment: ${commentList}">
                <td th:text="${comment.id}"></td>
                <td th:text="${comment.commentWriter}"></td>
                <td th:text="${comment.commentContents}"></td>
                <td th:text="*{#temporals.format(comment.commentCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
<script th:inline="javascript">
    const pagingReq = () => {
        // const page = [[${pageable}]];
        // location.href = "/board"+page;
        location.href = "/board";
    }

    const commentWrite = () => {
        const writer = document.getElementById("commentWriter").value;
        const contents = document.getElementById("commentContents").value;
        const board = [[${board.id}]];

        axios({
            method: "post",
            url: "/comment/save",
            data: {
                commentWriter: writer,
                commentContents: contents,
                boardId: board
            }
        }).then(res => {
            console.log(res);
            console.log(res.data);
            const commentList = res.data;
            console.log("commentList", commentList);
            let output = "<table class='table'>";
            // == 넣을시 최종 마지막에 입력한 값만 나옴, += 사용시 누적해서 데이터 쌓임
            output += "<tr><th>댓글번호</th>";
            output += "<th>작성자</th>";
            output += "<th>내용</th>";
            output += "<th>작성시간</th></tr>";
            // i=인덱스 같은 역할, 반복변수로 활용
            for (let i in commentList) {
                output += "<tr>";
                output += "<td>" + commentList[i].id + "</td>";
                output += "<td>" + commentList[i].commentWriter + "</td>";
                output += "<td>" + commentList[i].commentContents + "</td>";
                // moment: 자바스크립트에서 제공하는 라이브러리 날짜값 사용하는 함수
                output += "<td>" + moment(commentList[i].commentCreatedDate).format("YYYY-MM-DD HH:mm:ss") + "</td>";
                output += "</tr>";
            }
            output += "</table>";

            document.getElementById('comment-list').innerHTML = output;
            // 새로 작성하는 칸을 위해 공란으로 표시
            document.getElementById('commentWriter').value = '';
            document.getElementById('commentContents').value = '';
        }).catch(err => {
            console.log(err);
        })


        // $.ajax({
        //     type: "post",
        //     url: "/comment/save",
        //     data: {
        //         commentWriter: writer,
        //         commentContents: contents,
        //         boardId: board
        //     },
        //     dataType: "json",
        //     success: function (commentList) {
        //         let output = "<table class='table'>";
        //         // == 넣을시 최종 마지막에 입력한 값만 나옴, += 사용시 누적해서 데이터 쌓임
        //         output += "<tr><th>댓글번호</th>";
        //         output += "<th>작성자</th>";
        //         output += "<th>내용</th>";
        //         output += "<th>작성시간</th></tr>";
        //         // i=인덱스 같은 역할, 반복변수로 활용
        //         for (let i in commentList) {
        //             output += "<tr>";
        //             output += "<td>" + commentList[i].id + "</td>";
        //             output += "<td>" + commentList[i].commentWriter + "</td>";
        //             output += "<td>" + commentList[i].commentContents + "</td>";
        //             // moment: 자바스크립트에서 제공하는 라이브러리 날짜값 사용하는 함수
        //             output += "<td>" + moment(commentList[i].commentCreatedDate).format("YYYY-MM-DD HH:mm:ss") + "</td>";
        //             output += "</tr>";
        //         }
        //         output += "</table>";
        //
        //         document.getElementById('comment-list').innerHTML = output;
        //         // 새로 작성하는 칸을 위해 공란으로 표시
        //         document.getElementById('commentWriter').value = '';
        //         document.getElementById('commentContents').value = '';
        //
        //     },
        //     error: function () {
        //         console.log("실패");
        //     }
        // });

    }

    const req = (value) => {
        console.log("value값:", value)
        const passCheckArea = document.getElementById("pass-check");
        //  innerHtml 활용하여 함수실행시 변수를 활용하여 실행할 기능을 텍스트로 보낸다
        //  value를 싱글쿼티(')로 묶어준다
        passCheckArea.innerHTML = "<input type=\"text\" id=\"password\" placeholder=\"password\">\n" +
            "    <button onclick=\"passCheck('" + value + "')\" class=\"btn btn-outline-dark\">확인</button>";
    }

    const passCheck = (value) => {
        console.log("2번째:", value)
        const password = document.getElementById("password").value;
        const passDB = [[${board.boardPass}]];
        const id = [[${board.id}]];
        if (password == passDB) {
            if (value == "update") {
                location.href = "/board/update/" + id;
            } else if (value == "delete") {
                // location.href = "/board/delete/" + id;
                if (confirm("해당 글을 삭제하시겠습니까?")) {
                    axios({
                        method: "delete",
                        url: "/board/" + id
                    }).then(res => {
                        alert("삭제 완료")
                        location.href = "/board/";
                    }).catch(res => {
                        alert("삭제 실패")
                    })
                } else {
                    alert("삭제 취소")
                }
            }
        } else {
            alert("비밀번호가 일치하지 않습니다")
        }
    }

    // 위 까지 버튼 클릭시 input창 보이기

    const listReq = () => {
        location.href = "/board";
    }

    const updateReq = () => {
        console.log("수정요청")
        const id = [[${board.id}]]
        location.href = "/board/update/" + id;
    }

    const deleteReq = () => {
        const id = [[${board.id}]]
        if (confirm("해당 글을 삭제하시겠습니까?")) {
            axios({
                method: "delete",
                url: "/board/" + id
            }).then(res => {
                alert("삭제 완료")
                location.href = "/board/";
            }).catch(res => {
                alert("삭제 실패")
            })
        } else {
            alert("삭제 취소")
        }

    }
    const deleteFn = () => {
        console.log("삭제호출")
        const id = [[${board.id}]]
        if (confirm("삭제하시겠습니까?")) {
            location.href = "/board/delete/" + id;
            alert("삭제완료")
        } else {
            alert("삭제취소")
        }
    }
</script>
</html>