<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div class="container">
    <a href="/board/save" class="btn btn-primary">글작성</a>
    <a href="/board/" class="btn btn-primary">글목록</a>
    <a href="/board" class="btn btn-primary">페이징목록</a>
<!--    1페이지 14번글 /board/14/1   -> 주소가 어떤지 정확한 자원을 출력하기 위해 rest 형식
        /board/14?page=1  -->

    <a href="/" class="btn btn-primary">홈이동</a>
</div>

</body>
</html>